*{
    margin: 0%;
    padding: 0%;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color:#f94d90;

}

.Parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction:column ;
    gap: 15px;
}

.Child{
    background-color:orangered;
    color:#fab460;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 120px;
    border-radius: 12px;
    box-shadow: -15px 0px 20px rgba(0,0,0,0.5);
    text-align: center;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}


.show{
    opacity: 1;
    transform: translateY(0);
}
.Button{
    display: flex;
    gap: 220px;
    margin-top: 20px;

    opacity: 0;
    transition: opacity 1s ease;
}

.show-btn{
    opacity: 1;
}

a{
    background-color: black;
    color: gold;
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}



